@font-face {
    font-family: 'RedHatText';
    src: url('./assets/fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

:root {
    --red: #c73a0f;
    --green: #1ea475;

    --rose-50: #fcf9f7;
    --rose-100: #f4edeb;
    --rose-300: #c9aea6;
    --rose-400: #ad8985;
    --rose-500: #87635a;
    --rose-900: #260f08;
}

body {
    font-family: 'RedHatText', sans-serif !important;
    background: #f4edeb !important;
}

.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6,
.text-subtitle-1,
.text-subtitle-2,
.text-body-1,
.text-body-2,
.text-caption {
    font-family: 'RedHatText', sans-serif !important;
}