@font-face {
    font-family: 'RedHatText';
    src: url('./assets/fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

body {
    font-family: 'RedHatText', sans-serif !important;
    background: #f4edeb !important;
}

.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6,
.text-subtitle-1,
.text-subtitle-2,
.text-body-1,
.text-body-2,
.text-caption {
    font-family: 'RedHatText', sans-serif !important;
}